@use "src/theme/variables" as var;

.page {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .data {
        position: relative;
        width: 80%;

        .data-bar {
            justify-content: center;
        }

        @media screen and (min-width: var.$s-size) {
            width: 50%;
            margin: auto;
        }
    }
}
