@use "src/theme/variables" as var;

.top-bar {
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 0px 10px;
}

.login-content {
    padding: 10px;
    margin-bottom: 56px;

    @media screen and(min-width: var.$s-size) {
        margin-bottom: 64px;
    }
}
