@use "src/theme/variables" as var;
.page {
    justify-content: center;

    .login {
        margin: auto;
        display: flex;
        flex-flow: column;
        padding: 0;
        width: 95%;
        max-width: 400px;

        @media screen and (min-width: var.$s-size) {
            height: fit-content;
        }

        .login-bar {
            top: 0;
            left: 0;
            justify-content: center;
        }

        .login-content {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}
