<mat-toolbar class="token-bar" color="primary">
  <h3>Recuperação de senha</h3>
</mat-toolbar>
<mat-card-content class="token-content">
  <div class="content-form">
    <form class="form token" [formGroup]="tokenForm">
      <mat-form-field>
        <input type="text" #token1 matInput formControlName="token1" (input)="token2.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" #token2 matInput formControlName="token2" (input)="token3.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" #token3 matInput formControlName="token3" (input)="token4.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" #token4 matInput formControlName="token4" (input)="token5.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" #token5 matInput formControlName="token5" (input)="token6.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" #token6 matInput formControlName="token6" (input)="token1.focus()"
          (blur)="checkValidationToken()" required minlength="1" maxlength="1" />
      </mat-form-field>
    </form>
    <form class="form" [formGroup]="passwordForm">
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" required minlength="6" maxlength="50" />
        <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
          A senha é obrigatória
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['password'].hasError('minlength')">
          A senha exige o mínimo de 6 caracteres
        </mat-error>
        <mat-error *ngIf="passwordForm.controls['password'].hasError('maxlength')">
          A senha exige no máximo 50 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmação</mat-label>
        <input type="password" matInput formControlName="confirmation" />
        <mat-error *ngIf="passwordForm.controls['confirmation'].hasError('not_match')">
          As senhas não são iguais
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="passwordForm.invalid" (click)="alterarSenha()">
        Enviar
      </button>
      <mat-progress-bar class="loading"
        [mode]="(loading_load$ | async) || (loading_get$ | async) || (loading_change_password$ | async) ? 'query' : 'determinate'">
      </mat-progress-bar>
    </form>
  </div>
</mat-card-content>
