@use "src/theme/variables" as var;

.page {
    justify-content: center;
    padding: 10px;
    width: calc(100% - 20px);

    .auth {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 100%;
        max-width: 400px;
        margin-top: 28px;
        @media screen and(min-width: var.$s-size) {
            margin-top: 32px;
        }

        .bottom-bar {
            justify-content: flex-end;
            border-radius: 0 0 5px 5px;
            position: absolute;
            bottom: 0;

            .logo {
                width: 50px;
                max-width: 50px;
                height: 50px;
                max-height: 50px;
                object-fit: contain;
            }
        }
    }
}
