<div fxFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
    <form fxFill class="token" [formGroup]="tokenForm" fxLayout="row" fxLayoutAlign="space-between center" novalidate>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token1 matInput formControlName="token1" maxlength="1" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token2 matInput formControlName="token2" maxlength="1" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token3 matInput formControlName="token3" maxlength="1" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token4 matInput formControlName="token4" maxlength="1" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token5 matInput formControlName="token5" maxlength="1" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <input type="tel" mask="0" #token6 matInput formControlName="token6" maxlength="1" />
        </mat-form-field>
    </form>
    <form fxFill [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="start center" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password" minlength="6" maxlength="50" />
            <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
                A senha é obrigatória
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('minlength')">
                A senha exige o mínimo de 6 caracteres
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('maxlength')">
                A senha exige no máximo 50 caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmação</mat-label>
            <input type="password" matInput formControlName="confirmation" />
            <mat-error *ngIf="passwordForm.controls['confirmation'].hasError('not_match')">
                As senhas não são iguais
            </mat-error>
        </mat-form-field>
        <button fxFill mat-raised-button color="primary" [mat-darker]="true" [disabled]="passwordForm.invalid"
            (click)="alterarSenha()">
            Enviar
        </button>
        <mat-progress-bar class="loading"
            [mode]="(loading_load$ | async) || (loading_get$ | async) || (loading_change_password$ | async) ? 'query' : 'determinate'">
        </mat-progress-bar>
    </form>
</div>
