<div fxFill fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
    <mat-hint>Informe o código que você recebeu no seu e-mail para o realizar o primeiro acesso</mat-hint>
    <form fxFill class="code" [formGroup]="tokenForm" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token1 matInput formControlName="token1" maxlength="1" autofocus
                (input)="token2.focus(); token2.select();" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token2 matInput formControlName="token2" maxlength="1"
                (keyup.backspace)="token1.focus(); token1.select();" (input)="token3.focus(); token3.select();" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token3 matInput formControlName="token3" maxlength="1"
                (keyup.backspace)="token2.focus(); token2.select();" (input)="token4.focus(); token4.select();" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token4 matInput formControlName="token4" maxlength="1"
                (keyup.backspace)="token3.focus(); token3.select();" (input)="token5.focus(); token5.select();" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token5 matInput formControlName="token5" maxlength="1"
                (keyup.backspace)="token4.focus(); token4.select();" (input)="token6.focus(); token6.select();" />
        </mat-form-field>
        <mat-form-field fxFlex="15%" appearance="outline">
            <mat-label></mat-label>
            <input type="tel" mask="0" #token6 matInput formControlName="token6" maxlength="1"
                (keyup.backspace)="token5.focus(); token5.select();" />
        </mat-form-field>
    </form>
    <at-loading-spinner name="check-code">
        <button class="check-code" fxFill mat-raised-button color="accent"
            [disabled]="tokenForm.invalid || tokenForm.disabled" (click)="checkValidationToken()"
            *ngIf="passwordForm.disabled">
            Verificar código
        </button>
    </at-loading-spinner>
    <form fxFill [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="start" *ngIf="!passwordForm.disabled">
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input autofocus type="password" #password matInput formControlName="password" minlength="6"
                maxlength="50" />
            <button type="button" mat-icon-button matSuffix
                (click)="password.type = (password.type == 'password' ? 'text' : 'password')">
                <mat-icon color="primary" [mat-lighter]="darkMode$ | async" matSuffix>
                    {{ password.type == 'password' ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">
                A senha é obrigatória
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('minlength')">
                A senha exige o mínimo de 6 caracteres
            </mat-error>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('maxlength')">
                A senha exige no máximo 50 caracteres
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirmação</mat-label>
            <input type="password" matInput #confirmation formControlName="confirmation" />
            <button type="button" mat-icon-button matSuffix
                (click)="confirmation.type = (confirmation.type == 'password' ? 'text' : 'password')">
                <mat-icon color="primary" [mat-lighter]="darkMode$ | async" matSuffix>
                    {{ confirmation.type == 'password' ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls['confirmation'].hasError('not_match')">
                As senhas não são iguais
            </mat-error>
        </mat-form-field>
    </form>
    <at-loading-spinner name="password-recovery">
        <button fxFill mat-raised-button color="primary" *ngIf="!passwordForm.disabled"
            [disabled]="passwordForm.invalid || passwordForm.disabled" (click)="alterarSenha()">
            Definir senha e ir para o sistema
        </button>
    </at-loading-spinner>
</div>
