@use "src/theme/variables" as var;
.page {
    justify-content: center;

    .token {
        margin: 15px;
        display: flex;
        flex-flow: column;
        padding: 0;

        width: 95%;

        @media screen and (min-width: var.$s-size) {
            max-width: 600px;
            height: fit-content;
        }
    }
}
