<form [formGroup]="authForm" (submit)="login($event)" novalidate fxFill fxLayout="column" fxLayoutAlign="start">
    <mat-form-field appearance="outline">
        <mat-label>E-mail para recuperação</mat-label>
        <input formControlName="email" id="email" matInput type="text" required email />
        <button mat-icon-button disabled matSuffix>
            <mat-icon>alternate_email</mat-icon>
        </button>
        <mat-error *ngIf="hasError('email', 'required')">O e-mail é obrigatório</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">O e-mail deve ser um válido</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayout="space-between center" fxLayoutGap="5px">
        <button type="button" fxFlex mat-button color="accent" [routerLink]="['/auth','login']">
            Voltar
        </button>
        <button type="submit" fxFlex mat-raised-button color="primary"
            [disabled]="authForm.invalid || authForm.disabled">
            Recuperar senha
        </button>
    </div>
    <mat-progress-bar class="loading"
        [mode]="(loading_auth_load$ | async) || (loading_auth_login$ | async) ? 'query' : 'determinate'">
    </mat-progress-bar>
</form>
