@use "src/theme/variables" as var;

@import "/src/theme/albedo.theme.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-color: #3d633e;
    --primary-darker-color: #274728;
    --primary-lighter-color: #c5d0c5;
    --text-primary-color: #3d633e;
    --text-primary-darker-color: #c5d0c5;
    --text-primary-lighter-color: #274728;
    --accent-color: #7aad4c;
    --accent-darker-color: #5d9333;
    --accent-lighter-color: #d7e6c9;
    --text-accent-color: #7aad4c;
    --text-accent-darker-color: #d7e6c9;
    --text-accent-lighter-color: #5d9333;
    --warn-color: #ff0000;
    --warn-darker-color: #ff0000;
    --warn-lighter-color: #ffb3b3;
    --text-warn-color: #ff0000;
    --text-warn-darker-color: #ffb3b3;
    --text-warn-lighter-color: #ff0000;
}

.page {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: calc(100vh - (56px * 2));

    @media screen and (min-width: var.$s-size) {
        height: calc(100vh - (64px * 2));
    }
}

.hidden {
    display: none !important;
}
