@use "src/theme/variables" as var;

@import "/src/theme/albedo.theme.scss";

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
	--primary-color: #3d633e;
	--primary-darker-color: #274728;
	--primary-lighter-color: #c5d0c5;
	--text-primary-color: #3d633e;
	--text-primary-darker-color: #c5d0c5;
	--text-primary-lighter-color: #274728;
	--accent-color: #7aad4c;
	--accent-darker-color: #5d9333;
	--accent-lighter-color: #d7e6c9;
	--text-accent-color: #7aad4c;
	--text-accent-darker-color: #d7e6c9;
	--text-accent-lighter-color: #5d9333;
	--warn-color: #da3535;
	--warn-darker-color: #cb2222;
	--warn-lighter-color: #f4c2c2;
	--text-warn-color: #da3535;
	--text-warn-darker-color: #f4c2c2;
	--text-warn-lighter-color: #cb2222;
}

.page {
	display: flex;
	flex-flow: column;
}

.hidden {
	display: none !important;
}

router-outlet ~ * {
	width: 100%;
}
